<div>
  <div class="formula" ng-if="!form.ready">
    <div class="loading">
      <div class="spinner"></div>
      <span>Loading...</span>
    </div>
  </div>

  <form class="formula" ng-show="form.ready">
    <header ng-if="::form.title">
      {{ form.title }}
    </header>

    <nav ng-if="::form.fieldsets.length > 1">
      <a href="" ng-class="{ active: fieldset.active, error: !fieldset.valid }" ng-click="form.activate(fieldset)" ng-repeat="fieldset in ::form.fieldsets track by fieldset.id">{{ fieldset.title }}</a>
    </nav>

    <formula:fieldsets></formula:fieldsets>

    <footer>
      <span ng-if="form.errors" title="{{ form.errors.join('\n') }}">{{ i18n.text.invalid | formulaReplace : { count: form.errors.length } }}</span>
      <button ng-click="form.validate(true);" ng-if="!data.hideButtons" title="{{ i18n.text.validate.tooltip }}">
        <strong>&#10003;</strong>
        {{ i18n.text.validate.label }}</button>
      <button ng-click="form.save()" ng-disabled="!form.valid" ng-if="!data.hideButtons" title="{{ i18n.text.save.tooltip }}">
        <strong>&#9921;</strong>
        {{ i18n.text.save.label }}</button>
    </footer>
  </form>
</div>
